
$color_1: white;
$color_2: grey;
$color_3: black;
$color_4: orange;
$background-color_1: rgb(117, 111, 111);
$background-color_2: rgba(0,0,0,0.5);
$background-color_3: rgb(61, 19, 19);
$background-color_4: rgb(107, 38, 38);

